// colors
$white: #ffffff;
$black: #000000;
$charcoal-black: #282B2D;
$snow-white: #F5F5F5;


//fonts
$my-prettyfont: 'DM Sans', sans-serif;

//text
$small-font: 200 1rem/1.4 $my-prettyfont;
$large-font: 700 2rem/1.2 $my-prettyfont;
$title-font: 300 4rem/1.4 $my-prettyfont;
$paragraph-font: 300 1.3rem/1.3 $my-prettyfont;
$button-font: 400 1rem/1.3 $my-prettyfont;

$mobile-width: 600px;








